.container {
  display: grid;
  grid-template-columns: repeat(5,auto);
  grid-template-rows:100px 90px 500px 100px;
}

#navbar {
  grid-column-start:span 5;
}

#sidebar {
  writing-mode: vertical-rl;
  grid-row-start:span 2;
}

#title {
  grid-column-start:span 4;
}


#content {
  grid-column-start:span 4;
}

#footer {
  grid-column-start:span 5;
}
